<div class="create_new_client">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mx-auto">
				<h5>Create your user name first  </h5>

					<%= render 'form', client: @client %>
					 

			</div>
		</div>
	</div>	

</div>

