 					<div class="row">
                <div class="col-md-12">
             	   <h3>Please provide personnel info, thanks</h3>
                <%= render "form_personnel_info" %>
                  <%= render @client.personnel_infos %> 
                  

                </div>
              </div>