<div class="new_requestor">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto">
				<h3>Please add your Personnel Info</h3>

				<%= render 'form', personnel_info: @personnel_info %>
				 </div>
			</div>
		</div>
	</div>
 